@import 'variables';

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: url($url-background-image) no-repeat center center fixed; 
  background-size: cover;
  background-attachment: fixed;
}

.btn:focus {
  outline: none;
}

.game-container {
  text-align: center;
  background: rgba(255, 255, 255, .75);
  width: 100%;
  min-height: 100%;

  h2 {
    margin: 40px 0;
  }
}

.game-progress-message {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  opacity: 0.6;
}

.game-progress-bar {
  width: 100%;
  height: 1px;
  border-bottom: solid white 1px;
}

.game-progress-elapse {
  position: absolute;
  background: black;
  opacity: 0.25;
  height: inherit;
}

.game-progress-total {
  position: absolute;
  background: #e0e0e0;
  width: 100%;
  height: inherit;
}

.game-arena .btn {
  width: 100px;
  margin-right: 10px;
}

.game-result {
  margin: 10px 0;
}