<html>
  <head lang="en">
    <base href="/" />
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible"content="IE=edge" />
    <meta name="viewport"content="width=device-width, initial-scale=1" />
    <title>I Can't Believe it's not Vodka®</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script id="game-data" type="application/json"><%- data %></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </head>
  <body>
    <div id="game-app" class="top-container">
      <%- markup %>
    </div>
  </body>
</html>
      