<html>
  <head lang="en">
    <base href="/" />
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible"content="IE=edge" />
    <meta name="viewport"content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="//res.cloudinary.com/dwqtzmd6l/image/upload/v1423724189/favicon_wzhbhc.png">
    <title>I Can't Believe it's not Vodka®</title>
    <script type="application/json" id="game-data"><%- data %></script>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </head>
  <body>
    <div id="game-app" class="top-container">
      <%- markup %>
    </div>
  </body>
</html>
      